<div class="container">
    <div class="ui-g">
        <app-header></app-header>
        <app-budget [budget]="budget" [all_expenses]="all_expenses" (trigger)="calculate();"></app-budget>
        <app-footer [budget]="budget" [expenses]="expenses" [entries]="entries" [balance]="balance"></app-footer>
    </div>
</div>