<ng-container>
    <div class="form-control">
        <label for="addItemInput" class="form-control">
            Gastos
        </label>
        <div class="btn-group mb-4">
            <button *ngIf="!editMode" class="btn btn-primary" (click)="editMode = !editMode">
                Editar</button>
        </div>
    </div>
    <div>
        <div *ngIf="editMode" class="form-control">
            <label for="addItemInput" class="form-control">
                <b>Agregar Nuevo Ingresos/Gastos</b>
            </label>
            <select class="btn btn-outline-primary me-2" [(ngModel)]="selectedType">
                <option [value]="item" *ngFor="let item of typesList">{{item}}</option>
            </select>
            <input #addAmount class="col form-control" placeholder="Ingresar Cantidad" type="number"
                value="{{ item.amount }}" (keyup.enter)="item.amount = addAmount.value ; trigger.emit();" />
            <input #addName class="col form-control" placeholder="Ingresar Nombre" type="text" value="{{ item.name }}"
                (keyup.enter)="item.name = addName.value; trigger.emit();" />
            <div class="btn-group mb-4">
                <button class="btn btn-success"
                    (click)="add_task(addName.value, selectedType, addAmount.value); trigger.emit(); editMode = !editMode;">Nuevo</button>
                <button class="btn btn-info" (click)="editMode = !editMode">Cancelar</button>
            </div>
        </div>
        <label for="addItemInput" class="form-control">
            <b>Lista de Ingresos/Gastos</b>
        </label>
        <ul class="list-group">
            <li *ngFor="let item of all_expenses" class="list-group-item mb-1">
                <div class="form-control">
                    <label *ngIf="!editMode" [for]="item.name" class="label form-control">
                        {{ item.name }}
                    </label>
                    <input *ngIf="editMode" #addName class="col form-control" placeholder="Ingresar Nombre" type="text"
                        value="{{ item.name }}" (keyup.enter)="item.name = addName.value; trigger.emit();" />
                    <label *ngIf="!editMode" [for]="item.type" class="label form-control">
                        {{ item.type }}
                    </label>
                    <select *ngIf="editMode" class="btn btn-outline-primary me-2" [(ngModel)]="item.type">
                        <option [value]="item" *ngFor="let item of typesList" selected="item.type">{{item}}</option>
                    </select>
                    <label *ngIf="!editMode" [for]="item.amount" class="label form-control">
                        ${{ item.amount }}
                    </label>
                    <input *ngIf="editMode" #addAmount class="col form-control" placeholder="Ingresar Cantidad"
                        type="number" value="{{ item.amount }}"
                        (keyup.enter)="item.amount = addAmount.value ; trigger.emit();" />
                    <div *ngIf="editMode" class="btn-group mb-4">
                        <button class="btn btn-success" (click)="update_task(item); trigger.emit();">Update</button>
                        <button class="btn btn-danger" (click)="delete_task(item); trigger.emit();">Delete</button>
                        <button class="btn btn-info" (click)="editMode = !editMode">Cancelar</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ng-container>