<footer class="container">
    <div class="row" style="background-color: aliceblue; text-align: center;">
        <div class="col-md-3">Presupuesto Inicial</div>
        <div class="col-md-3">Ingresos Totales</div>
        <div class="col-md-3">Gastos Totales</div>
        <div class="col-md-3">Balance</div>
    </div>
    <div class="row" style="background-color: bisque; text-align: center;">
        <div class="col-md-3">${{budget.budget}}</div>
        <div class="col-md-3">${{entries}}</div>
        <div class="col-md-3">${{expenses}}</div>
        <div class="col-md-3">${{balance}}</div>
    </div>
    <hr class="border border-primary border-2 opacity-75" />
</footer>