<header class="container">
  <div class="row p-2 bg-light mb-4">
    <h1 class="">Dashboard</h1>
    <div class="col-md-8">
      <nav class="d-flex">
        <h6 class="mb-0">
          <a routerLink="" class="text-reset">Home</a>
          <!-- <span>/</span>
          <a routerLink="" class="text-reset">Divisas</a>
          <span>/</span>
          <a routerLink="" class="text-reset"><u>Gastos</u></a> -->
        </h6>
      </nav>
    </div>
  </div>
</header>