<ng-container *ngIf="budget">
    <div class="container">
        <hr class="border border-primary border-2 opacity-75" />
        <div *ngIf="!editMode" class="form-control">
            <label for="addItemInput" class="form-control">
                Presupuesto Actual: ${{budget.budget}}
            </label>
            <div class="btn-group mb-4">
                <button class="btn btn-primary" (click)="editMode = !editMode; ">
                    Editar</button>
            </div>
        </div>
        <div *ngIf="editMode" class="form-control">
            <label for="addItemInput" class="form-control mb-1">
                Definir Nuevo Presupuesto
            </label>
            <input #addItemInput class="col form-control" placeholder="Edit item" type="number"
                value="{{ budget.budget }}" (keyup.enter)="
                budget.budget = addItemInput.value ;
                trigger.emit();
                editMode = !editMode
              " />
            <div class="btn-group mb-4">
                <button class="btn btn-success" (click)="
                    budget.budget= addItemInput.value;
                    trigger.emit();
                    editMode = !editMode
                  ">
                    Cambiar</button>
                <button class="btn btn-danger" (click)="editMode = !editMode">Cancelar</button>
            </div>
        </div>
        <hr class="border border-primary border-2 opacity-75" />
        <!-- <app-divisas></app-divisas>
        <hr class="border border-primary border-2 opacity-75" /> -->
        <app-budgets [all_expenses]="all_expenses" (trigger)="trigger.emit()"></app-budgets>
        <hr class="border border-primary border-2 opacity-75" />
    </div>
</ng-container>