<ng-container *ngIf="item">
    <div class="container">
        <div class="form-control">
            <label [for]="item.name" class="label form-control">
                {{ item.name }}
            </label>
            <div class="btn-group mb-4">
                <button class="btn btn-danger" (click)="remove.emit()">Delete</button>
            </div>
        </div>
    </div>
</ng-container>