<ng-container>
  <div class="form-control">
    <label for="addItemInput" class="form-control">
      Divisas
    </label>
    <div class="btn-group mb-4">
      <button class="btn btn-primary" (click)="editMode = !editMode">
        Editar</button>
    </div>
    <div *ngIf="editMode">
      <ul class="list-group">
        <li *ngFor="let type of item_types" class="list-group-item mb-1">
          <app-divisa [item]="type" (update)="update_task(type)" (remove)="delete_task(type)"></app-divisa>
        </li>
      </ul>
    </div>
  </div>
</ng-container>